[submodule "java/microservices/user-service"]
	path = java/microservices/user-service
	url = https://github.com/ErikNuroyan/user-service.git
[submodule "python/microservices/ml-service"]
	path = python/microservices/ml-service
	url = https://github.com/sahNarek/chat
[submodule "front-end/ai_assistant"]
	path = front-end/ai_assistant
	url = https://github.com/NorikKhachatryan01/ai_assistant
